.botonera-panigation{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    padding:10px;
    .btn-next,.btn-prev{
        border: solid 1px #4D9C97;
        padding:5px;
        background:#ffffff;
        cursor:pointer;
        outline:none
    }
  
    .pages{

        span{
            background:#D1E8DF;
            padding: 5px 10px;
            border-radius:50%
        }
    }
}